extends ../base.pug

block content 
  video(src="/" + video.fileUrl controls width=300 height=500)
  div 
    p=video.description
    p=video.hashtags
    small=video.createdAt
  div 
    small Uploaded by #{owner.name}
  hr
  if String(video.owner) === loggedInUser._id
    a(href=`${video.id}/edit`) Edit
    br
    a(href=`${video.id}/delete`) Delete